<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" <%= url('/css/bootstrap.min.css') %>">
    <link rel="stylesheet" href=" <%=  url('/form.css') %>">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
              $(document).ready(function(){
          $('#title').focus();
        });
    </script>
  </head>
  <body style="background:#333 url(http://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;">
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Search.Startup.Jobs</h2>
                    <hr class="star-primary">
                </div>
            </div>
    <form id="paper" method="post" action="/search">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls" id="the-basics">
                                <h4>Enter keywords below to search for jobs</h4>
                                <h4>(Hint: To search for a phrase, include in quotes)</h4>
                                <input type="text" class="form-control typeahead" placeholder="Developer &quot;Business Development&quot; Marketing Sales Design" id="text" name="keywords" required="" data-validation-required-message="Please enter some keywords." aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>
    </form>
          </div>
      </section>
        <script type="text/javascript" src="<%= url('/js/typeahead.bundle.js') %>"></script>
        <script type="text/javascript" src="<%= url('/js/jobs.js') %>"></script>
        <script type="text/javascript">
                var substringMatcher = function(strs) {
              return function findMatches(q, cb) {
                var matches, substrRegex;
             
                // an array that will be populated with substring matches
                matches = [];
                //match the last typed word if there is more than one
                var patt = new RegExp('\\s*(\\w+)\$');
                if (patt.exec(q)[1] !== null){
                q = patt.exec(q)[1];
                }
                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');
             
                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                  if (substrRegex.test(str)) {
                    // the typeahead jQuery plugin expects suggestions to a
                    // JavaScript object, refer to typeahead docs for more info
                    matches.push({ value: str });
                  }
                });
             
                cb(matches);
              };
            };

                $('#the-basics .typeahead').typeahead({
                  hint: true,
                  highlight: true,
                  minLength: 1
                },
                {
                  name: 'jobs',
                  displayKey: 'value',
                  source: substringMatcher(jobs)
                });

</script>
  </body>
</html>
